---
layout: default
title: Blog
---

<ul>
  {% for post in site.posts %}
  <li>
    <span> {{ post.date | date: "%B %e, %Y" }} </span>
      <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  <p>
    {{ post.content | strip_html | truncate: 150 }} <a href="{{ post.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ post.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
  {% endfor %}
</ul>
