---
layout: default
title: challenges
---
<div>
  <h1 style="text-align: center;">Challenges </h1>
</div>
{% for challenges in site.challenges %}
  <li>
    <span> {{ challenges.date | date: "%B %e, %Y" }} </span>
      <a href="{{ challenges.url }}">{{ challenges.title }}</a>
  </li>
  <p>
    {{ challenges.content | strip_html | truncate: 350 }} <a href="{{ challenges.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ challenges.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
{% endfor %}
