---
layout: default
title: Framework
---
<div>
  <h1 style="text-align: center;">Different framework of Deep learning and Machine learning </h1>
  <br>
</div>
{% for framework in site.framework %}
  <li>
    <span> {{ framework.date | date: "%B %e, %Y" }} </span>
      <a href="{{ framework.url }}">{{ framework.title }}</a>
  </li>
  <p>
    {{ framework.content | strip_html | truncate: 350 }} <a href="{{ framework.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ framework.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
{% endfor %}
