---
layout: default
title: Home
---
<head>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-91762628-1', 'auto');
  ga('send', 'pageview');
</script>
</head>                              
<div>
  <br>
  <br>
  <h1 style="text-align: center;">Welcome to IDLI </h1>
  <h2 style="text-align: center;">India Deep Learning Initiative</h2>
  <h5 style="text-align: justify-all;">Our Moto is: IDLI-Indian Deep Learning Initiative. The main objective of this group is to promote deep learning (DL) and machine learning (ML) for AI, in India.</h5>
  <hr>

  <div>
    <h3>News! : Next online-session</h3>
     {% for upcoming in site.upcomming %}
     <li>
        <a href="{{ upcomming.url }}">{{ upcomming.title }}</a>
     </li>
      <p>
           {{ upcomming.content | strip_html | truncate: 150 }} <a href="{{ upcomming.url }}">Read more</a>
          <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ upcomming.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    {% endfor %}
  </div>
  <a href="#">Start now!</a>
