---
layout: default
title: Home
---
<head>
</head>                              
<div>
  <br>
  <br>
  <h1 style="text-align: center;">Welcome to IDLI </h1>
  <h2 style="text-align: center;">India Deep Learning Initiative</h2>
  <h5 style="text-align: justify-all;">Our Moto is: IDLI-Indian Deep Learning Initiative. The main objective of this group is to promote deep learning (DL) and machine learning (ML) for AI, in India.</h5>
  <hr>

  <div>
    <h3>News! : Next online-session</h3>
     {% for upcomming in site.upcomming %}
     <li>
        <a href="{{ upcomming.url }}">{{ upcomming.title }}</a>
     </li>
      <p style="text-align: justify;">
           {{ upcomming.content | strip_html | truncate: 150 }} <a href="{{ upcomming.url }}">Read more</a>
          <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ upcomming.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
      </p>
    {% endfor %}
  </div>
  <a href="#">Start now!</a>
