---
layout: default
title: Internship
---
<div>
  <h1 style="text-align: center;">Need Internship: all is here! </h1>
</div>
{% for internship in site.internship %}
  <li>
    <span> {{ internship.date | date: "%B %e, %Y" }} </span>
      <a href="{{ internship.url }}">{{ internship.title }}</a>
  </li>
  <p>
    {{ internship.content | strip_html | truncate: 350 }} <a href="{{ internship.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ internship.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
{% endfor %}
