---
layout: default
title: Papers
---
<div>
  <h1 style="text-align: center;">You can find top research paper here! </h1>
  <br>
</div>
{% for papers in site.papers %}
  <li>
    <span> {{ papers.date | date: "%B %e, %Y" }} </span>
      <a href="{{ papers.url }}">{{ papers.title }}</a>
  </li>
  <p>
    {{ papers.content | strip_html | truncate: 350 }} <a href="{{ papers.url }}">Read more</a>
    <span class="post-date" style="margin-top:3px"><i class="fa fa-calendar" aria-hidden="true"></i> {{ papers.date | date_to_string }} - <i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  </p>
{% endfor %}
