<div class="menu">
  <hr>
  <ul class="menu">
    <li class="menu">
        <a href="#">Resources</a>
        <ul class="menu">
          <li><a href="{{ site.github.url }}/blog.html">Blog</a></li>
          <li><a href="{{ site.github.url }}/tutorial.html">Tutorial</a></li>
          <li><a href="{{ site.github.url }}/interview.html">Interview</a></li>              
        </ul>
    </li>
    <li class="menu">
        <a href="#">Research</a>
        <ul class="menu"> 
          <li><a href="{{ site.github.url }}/dataset.html">Dataset</a></li>
          <li><a href="{{ site.github.url }}/challenge.html">Challenges</a></li>
          <li><a href="{{ site.github.url }}/papers.html">Papers</a></li>
          <li><a href="{{ site.github.url }}/framework.html">Framework</a></li>
            
        </ul>
    </li>
    <li class="menu">
        <a href="#">Event</a>
        <ul class="menu">
            <li class="menu"><a href="{{ site.github.url }}/session.html">Session</a></li>
          <li><a href="">Hackthoan</a></li>
        </ul>
    </li>
    <li class="menu">
      <a href="#">Opportunity</a>
      <ul class="menu">
        <li class="menu"><a href="{{ site.github.url }}/internship.html">Internship</a></li>
        <li class="menu"><a href="{{ site.github.url }}/jobs.html">Jobs</a></li>
      </ul>
    </li>
    <li class="menu">
        <a href="#">About</a>
        <ul class="menu">
            <li><a href="{{ site.github.url }}/mission.html">Mission</a></li>
            <li><a href="{{ site.github.url }}/team.html">Teams</a></li>
          <li><a href="{{ site.github.url }}/help.html">Help!</a></li>
        </ul>
    </li>
  </ul>
</div>
