<div class="menu">
  <div>
    <ul class="menu">
      <li><a href="{{ site.github.url }}/mission.html">Mission</a></li>
      <li><a href="{{ site.github.url }}/blog.html">Blog</a></li>
      <li><a href="{{ site.github.url }}/tutorial.html">Tutorial</a></li>
      <li><a href="{{ site.github.url }}/interview.html">Interview</a></li>
      <li><a href="{{ site.github.url }}/dataset.html">Dataset</a></li>
      <li><a href="{{ site.github.url }}/opportunity.html">Opportunity</a></li>
      <li><a href="{{ site.github.url }}/challenge.html">Challenges</a></li>
      <li><a href="{{ site.github.url }}/team.html">Teams</a></li>
      <li class="sub1"><a href="#">Hyperlink 2</a>
        <ul> 
            <li><a href="#">Hyperlink 2.1</a></li>
            <li><a href="#">Hyperlink 2.2</a></li>
        </ul>
    </li>
   </ul>
  </div>
</div>
