<div class="menu">
  <ul class="menu">
    <a href="{{ site.github.url }}/mission.html">Mission</a>
    <a href="{{ site.github.url }}/blog.html">Blog</a>
    <a href="{{ site.github.url }}/tutorial.html">Tutorial</a>
    <a href="{{ site.github.url }}/interview.html">Interview</a>
    <a href="{{ site.github.url }}/dataset.html">Dataset</a>
    <a href="{{ site.github.url }}/opportunity.html">Opportunity</a>
    <a href="{{ site.github.url }}/challenge.html">Challenges</a>
    <a href="{{ site.github.url }}/team.html">Teams</a>
    <li class="menu">
        <a href="">Birds</a>
        <ul class="menu">
            <li><a href="">Ratites</a></li>
            <li><a href="">Fowl</a></li>
            <li><a href="">Neoaves</a></li>
        </ul>
    </li>
    <li class="menu">
        <a href="">Mammals</a>
        <ul class="menu">
            <li><a href="">Monotremes</a></li>
            <li><a href="">Marsupials</a></li>
            <li><a href="">Placentals</a></li>
        </ul>
    </li>
  </ul>
</div>
